*,
::before,
::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

input,
textarea,
button {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

:root {
  --colors-pink: hsl(322, 100%, 66%);
  --colors-very-pale-cyan: hsl(193, 100%, 96%);
  --colors-very-dark-cyan: hsl(192, 100%, 9%);
  --colors-grayish-blue: hsl(208, 11%, 55%);
  --weight-normal: 400;
  --weight-semi-bold: 600;
  --weight-bold: 700;
  --side-space-main: 4rem;
}

body {
  font: var(--weight-normal) 1.125rem 'Open Sans', sans-serif;
}

a,
h1,
h2 {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: var(--weight-semi-bold);
  color: var(--colors-very-dark-cyan);
}

/* Reusable classes */

.pill-link {
  padding: 1rem 4rem;
  border-radius: 4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  text-align: center;
  white-space: nowrap;
  font-weight: var(--weight-bold);
  transition: opacity ease-in-out 0.3s;
}

.pill-link:hover {
  opacity: 0.7;
}

.primary-link {
  background-color: var(--colors-pink);
  color: #fff;
  padding-block: 1.25rem;
}

.secondary-link {
  background-color: #fff;
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

/*-----------*/

.app-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem var(--side-space-main);
  color: var(--colors-very-dark-cyan);
  max-width: 1440px;
  margin: 0 auto;
}

.app-header .app-logo {
  width: 10rem;
}

/* Hero Section */

.hero-container {
  background: url('../images/bg-hero-desktop.svg') no-repeat top/cover
    var(--colors-very-pale-cyan);
}

.hero-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 9rem var(--side-space-main) 3rem;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-section > img {
  width: 50%;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 40%;
  color: var(--colors-very-dark-cyan);
}

.hero-info h1 {
  font-size: 2.5rem;
}

.hero-info > .pill-link {
  font-size: 0.875rem;
}

/* ------------ */

/* Info cards */

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 6rem var(--side-space-main);
  max-width: 1440px;
  margin: 0 auto;
}

.info-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem 3rem 4rem 6rem;
  max-width: 1440px;
}

.reverse {
  flex-direction: row-reverse;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
  color: var(--colors-grayish-blue);
}
.card-heading {
  font-size: 1.75rem;
}

.info-card > img {
  width: 40%;
}
